"air_quality_ml/models/*_predictor.joblib" 
"air_quality_ml/models/*_predictor.joblib" 
"air_quality_ml/models/*_predictor.joblib" 
"air_quality_ml/models/*_predictor.joblib" 
"air_quality_ml/models/*_predictor.joblib" 
"air_quality_ml/models/*_predictor.joblib" 
